name: Validation process
on:
  push:
    branches:
      - staging
      - trying
jobs:
  test:
    name: Test suite
    runs-on: ubuntu-latest
    steps:
      - name: Get Ivy2 cache
        uses: actions/cache@v2
        with:
          path: ~/.ivy2
          key: ivy2-files
      - name: Checkout
        uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v11
      - name: SBT tests and artifacts
        run: sbt test
