name: Validation process
on:
  push:
    branches:
      - renovate/**
  pull_request:
  merge_group:
jobs:
  test:
    name: Test suite
    runs-on: ubuntu-latest
    steps:
      - name: Get Ivy2 cache
        uses: actions/cache@v3
        with:
          path: ~/.ivy2
          key: ivy2-files
      - name: Checkout
        uses: actions/checkout@v4
      - uses: olafurpg/setup-scala@v14
      - name: SBT tests and artifacts
        run: sbt test
